@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto ;
  width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0;
}

.main-container {
  flex-grow: 1;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: fit-content;
}

.button-brown {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);

}

.button-grey {
  background-color: #f2f2f2;
}

.button-green {
  background-color: #7DB54F;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.page-header-logo {
  display: block;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;

}

.navigation-logo{
  position: absolute;
  top: 0;
  left: 70px;
  margin-right: 30px;
}

.navigation a {
  text-decoration: none;
}

.navigation ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}
.navigation-list {
  padding:  0 70px 0 170px;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-link {
  display: block;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  padding: 20px 16px;
  color: #000000;
}

.header-button {
  min-width: 160px;
  height: 36px;
  align-self:center
}

.navigation-user {
  margin: 0;
  padding: 0 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 88px;
}
.navigation-user-link {
  display: block;
  max-width: 88px;
  color: #000000;
  padding: 22px 12px;
}

.notification-badge {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.hero {
  color: #000000;
  background-color: #8babb8;
  background-image: url(../images/background/hero-decoration-background.svg), url(../images/background/hero-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, center;
  min-height: 485px;
}

.hero-welcome {
  transform: translate(371px, 51px);
}

.advantages {
  text-align: center;

}
.advantages-title {
  margin: 112px auto 62px auto;
  width: 175px;
  height: 56px;
}
.advantages-item-description {
  max-width: 230px;
  margin: 0 auto;
}
.advantages-introduction {
  padding: 69px 290px 0 290px;
  margin-bottom: 25px;
  margin-top: 0;
}

.advantages-description {
  padding: 0 274px 0 274px;
  margin-bottom: 90px;
  margin-top: 0;
}
.advantages-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

}
.advantages-item {
  min-height: 385px;
  width: 400px;
  text-align: center;

}
.advantages-item-wrapper {
  min-height: 385px;
  width: 400px;
  text-align: center;
}

.advantages-picture:last-child {
  flex-direction: row-reverse;
}
.advantages-picture {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}

.advantages-item-wrapper {
  margin-top: 102px;
}

.advantages-img {
  max-width: 100%;
  height:auto
}
.advantage-navy .advantages-title {
  color: #ffffff;
}

.advantage-navy .advantages-item-description {
  color: #ffffff;
}

.advantage-navy {
  background-color: #82B3D3;
}

.advantage-sky {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-pale {
  background-color: rgba(131, 179, 211, 0.12);
}

.services {
  text-align: center;
}

.services-title-come {
  padding: 64px 347px 0 347px;
  margin-bottom: 20px;
  margin-top: 0;
}

.services-description {
  padding: 0 355px 0 355px;
  margin-bottom: 64px;
  margin-top: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 79px 85px 81px 85px;
  gap: 30px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-item-description {
  max-width: 230px;
  text-align: center;

}
.book-search {
  text-align: center;
  padding: 96px 306px;
}

.book-title {
  margin-bottom: 20px;
  margin-top: 0;
}

.book-description{
  margin-top: 0;
  margin-bottom: 54px;
}
.book-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 375px;
  height: 52px;
  margin: 0 auto;
  padding: 8px 50px;
}


.subscribe {
  padding: 96px 258px 104px 258px;
  text-align: center;
  background-color: #ffffff;
}

.subscribe-title {
  margin-bottom: 20px;
  margin-top: 0;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscription-form {
  max-width: 684px;

}
.subscribe-background {
  padding: 96px 258px 104px 258px;
  text-align: center;
  background-image: url("../images/background/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8babb8;

}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 452px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border: none;

}

.subscribe-field {
  opacity: 60%;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  min-width: 232px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}

.subscribe-background .subscribe-title {
  color: #ffffff
}

.subscribe-background .subscribe-description {
  color: #ffffff;
}

.page-footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
  min-height: 50px;
}

.social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  max-width: 142px;
}

.social-link {
  display: block;
  width: 47px;
  height: 40px;
}
.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs {
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
}


.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.hotels-filter {
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  color: #ffffff;
  background-color: #3F5E72;
  background-image: url(../images/background/filter-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat
}

.layout-list {
  list-style-type: none;
}

.filters-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control-input {
  font-family: inherit;
}

.range-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  width: 143px;
}

.filters-item {
  line-height: 23px;
  list-style-type: none;
}

.sorting-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 292px;
}

.hotels-list {
  list-style-type: none;
}

.card-title {
  color: #000000;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
}

.pagination-list {
  list-style-type: none;
}
